<head>
	<meta charset="UTF-8">
	<title>SmartIDScanner</title>
	<link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="static/css/upload.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
	<!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
	
		<!-- LANDING PAGE -->
		<section id="home">
			<!-- OVERLAY -->
			<div class="overlay">
				<!-- PRIMARY NAVIGATION -->
				<nav role="navigation">
					<ul class="vertical-list">
				
						<li><a href="#about">About </a></li>
						<li><a href="{{ url_for('login') }}">Sign in</a></li>
						<li><a href="{{ url_for('signup') }}" >Register!</a></li>
					</ul>
				</nav>
				<!-- END OF PRIMARY NAVIGATION -->

				<!-- CONTAINER -->
				<div class="container">
					<h1><span class="logo">ID Scanner</span><small>Scan your images and files here</small></h1>
					
				</div>
				<!-- END OF CONTAINER -->
			</div>
			<!-- END OF OVERLAY -->
		</section>
		<!-- END OF LANDING PAGE -->

<section id="about">
			<!-- CONTAINER -->
			<div class="container">
				<h2>About Smart ID Scanner...</h2>
				<div class="row info">
					<div class="col-sm-8">
						<p>
							ID scanning is an instant and reliable way to gather personal information from your users, customers, and clients.

 You can use a simple mobile app or website to read ID cards, passports, visa documents, driving licenses, and other standardized ID formats. And the best thing is, all you need to get started is a regular camera-enabled mobile device.

Once you include an ID scanning feature in your mobile app or website, you will immediately save resources, reduce data entry errors, and improve the user experience for your customers and employees. The integration process is quick and painless, allowing you to focus on the more important aspects of your app or website. All you need to do is get started!
						
					</div>

					<div class="col-md-4">
						<img src="https://play-lh.googleusercontent.com/twxada6rF2P-8L1ogEbCsQKYN9TupBBiD10yYIDEH95g02eq7R2ifVjYp_VgR-tk2Q" alt="siscanner" class="img-responsive img-circle">
					</div>
				</div>
				

					
